body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrollbars on the main window */
  background-color: #1e1e2e; /* Sleek dark background */
}

* {
  box-sizing: border-box;
}